body {
    margin: 7.5px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #6d8991;
    color: white;
    background-image: url("images/Squishmallow-Wallpaper.jpg");
    background-repeat: repeat-xy;
    background-position: 0px 0px;
}

.banner {
    background-color: #333;
    text-align: center;
    padding: 15px 0;
}

.banner h1 {
    font-size: 27px;
    margin: 0;
}

.post {
    border: 0.75px solid #ccc;
    font-family: 'Lato', sans-serif;
    padding: 37.5px 15px;
    margin: 7.5px;
    margin-bottom: 15px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    font-size: 22.5px;
}

.postBody {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.postAuthor {
    color: grey;
}

.images img {
    max-width: 75px;
    max-height: 75px;
    margin: 3.75px;
}

.birthday-banner {
    position: relative;
    font-family: 'Lato', sans-serif;
    background-color: #ebc481;
    color: black;   
    text-align: center;
    padding: 60px;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.add-post-button {
    font-family: 'Lato', sans-serif;
    color: #6d8991;
    position: absolute;
    left: 7.5%; /* Position horizontally in the center */
    bottom: -22.5px; /* Move the button down */
    transform: translateX(-50%); /* Adjust horizontal alignment */
    background-color: white; /* Change background color to white */
    color: black; /* Change text color to black */
    border: 1.5px solid white;
    border-radius: 22.5px; /* Increase border radius */
    padding: 7.5px 15px;
    cursor: pointer;
    font-size: 15px; /* Increase text size */
    padding: 11.25px 22.5px; /* Increase padding for a bigger button */
}

.column {
    float: left;
    width: 33.33%; /* Divide the width equally for four columns */
    height: 75px;
    padding: 7.5px;
    box-sizing: border-box; /* Include padding in the width calculation */
}
